body {
    margin: 0;
    display: flex;
}

#main {
    background-color: #f0f0f0;
    width: 15%;
    padding: 20px; /* Add padding or adjust as needed */
    box-sizing: border-box;
}

.element {
    margin-top: 10px;
}

#canvas {
    flex-grow: 1;
    /* Add other styles for your canvas as needed */
}